env_path: "./environments/Curriculum/envs/AntMaze_UMaze_source.py"
CurriculumCfg:
  env_id: "Curriculum/AntMaze_UMaze"
  num_envs: 16
  num_samples: 3
  training_alg: "SAC"
  policy_network: "MultiInputPolicy"
  eval_freq: 1_000
  short_training_timesteps: 500_000
  long_training_timesteps: 5_000_000
  evaluation_timesteps: 7_000

HerCfg:
  env_id: "AntMaze_UMaze-v4"
  num_envs: 16
  training_alg: "SAC"
  policy_network: "MultiInputPolicy"
  eval_freq: 1_000
  training_timesteps: 13_000_000

SacCfg:
  env_id: "AntMaze_UMazeDense-v4"
  num_envs: 16
  training_alg: "SAC"
  policy_network: "MultiInputPolicy"
  training_timesteps: 13_000_000
  eval_freq: 1_000

ZeroshotCfg:
  env_id: "Curriculum/AntMaze_UMaze"
  num_envs: 16
  num_samples: 3
  training_alg: "SAC"
  policy_network: "MultiInputPolicy"
  eval_freq: 1_000
  training_timesteps: 13_000_000